@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-100-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-100-normal.woff') format('woff');
}
@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-200-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-200-normal.woff') format('woff');
}
@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-300-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-300-normal.woff') format('woff');
}

@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-400-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-500-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-500-normal.woff') format('woff');
}

@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-600-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-600-normal.woff') format('woff');
}

@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-700-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-700-normal.woff') format('woff');
}

@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-800-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-800-normal.woff') format('woff');
}

@font-face {
  font-family: 'Geist-Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/geist-sans/geist-sans-latin-900-normal.woff2')
      format('woff2'),
    url('/fonts/geist-sans/geist-sans-latin-900-normal.woff') format('woff');
}
