.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
/server-build
.cache



/generated/prisma
/prisma/data.db
/prisma/data.db-journal
/tests/prisma
/prisma/dev.db
/prisma/dev.db-journal
/prisma/adminSeed.ts

*.db
*.db-journal

.env
.env.local\

# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*


tmp.ignored.js
tmp.ignored.sql
